<ul class="list-group">
  <li class="list-group-item">
    <a routerLink="/directive/first" class="nav-link">第一节 - 创建指令</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/directive/second" class="nav-link">第二节 - 定义输入属性</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/directive/third" class="nav-link">第三节 - 事件处理</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/directive/fourth" class="nav-link">第四节 - 获取宿主元素属性值</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/directive/fifth" class="nav-link">第五节 - 使用 ng-template 元素</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/directive/sixth" class="nav-link">第六节 - 使用 ngTemplateOutlet 指令</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/directive/seventh" class="nav-link">第七节 - 创建结构指令</a>
  </li>
</ul>
