<!--The content below is only a placeholder and can be replaced.-->
<ul class="list-group">
  <li class="list-group-item">
    <a routerLink="/forms/first" class="nav-link">第一节 - 创建最简单的输入框</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/forms/second" class="nav-link">第二节 - 添加简单的验证功能</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/forms/third" class="nav-link">第三节 - 显示验证失败的错误信息</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/forms/fourth" class="nav-link">第四节 - 创建表单</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/forms/fifth" class="nav-link">第五节 - ngModelGroup简介</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/forms/sixth" class="nav-link">第六节 - 表单添加验证状态样式</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/forms/seventh" class="nav-link">第七节 - 表单控件的状态</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/forms/eighth" class="nav-link">第八节 - 使用单选控件</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/forms/ninth" class="nav-link">第九节 - 使用多选控件</a>
  </li>
</ul>
