<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <nav class="navbar">
    <ul class="nav">
      <li class="nav-item active">
        <a routerLink="/user" class="nav-link">我的</a>
      </li>
      <li class="nav-item">
        <a routerLink="/members" class="nav-link">Angular成员</a>
      </li>
      <li class="nav-item">
        <a routerLink="/forms" class="nav-link">Form</a>
      </li>
      <li class="nav-item">
        <a routerLink="/directive" class="nav-link">directive</a>
      </li>
      <li class="nav-item">
        <a routerLink="/dependencyinjection" class="nav-link">依赖注入</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
