<!--The content below is only a placeholder and can be replaced.-->
<h2>大家好，我是{{name}}</h2>
 <p>我来自<strong>{{address.province}}</strong>省,
   <strong>{{address.city}}</strong>市
 </p>
 <button (click)="toggleSkills()">
     {{ showSkills ? "隐藏技能" : "显示技能" }}
 </button>
 <div *ngIf="showSkills">
     <h3>我的技能</h3>
     <ul>
         <li *ngFor="let skill of skills">
             {{skill}}
         </li>
     </ul>
     <form (submit)="addSkill(skill.value)">
         <label>添加技能</label>
         <input type="text" #skill>
     </form>
 </div>
